In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = sns.load_dataset('penguins')

In [3]:
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,FEMALE
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,MALE
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN
10,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN
11,Adelie,Torgersen,37.8,17.3,180.0,3700.0,NaN
12,Adelie,Torgersen,41.1,17.6,182.0,3200.0,FEMALE
13,Adelie,Torgersen,38.6,21.2,191.0,3800.0,MALE
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,MALE
15,Adelie,Torgersen,36.6,17.8,185.0,3700.0,FEMALE
16,Adelie,Torgersen,38.7,19.0,195.0,3450.0,FEMALE
17,Adelie,Torgersen,42.5,20.7,197.0,4500.0,MALE
18,Adelie,Torgersen,34.4,18.4,184.0,3325.0,FEMALE
19,Adelie,Torgersen,46.0,21.5,194.0,4200.0,MALE
20,Adelie,Biscoe,37.8,18.3,174.0,3400.0,FEMALE
21,Adelie,Biscoe,37.7,18.7,180.0,3600.0,MALE
22,Adelie,Biscoe,35.9,19.2,189.0,3800.0,FEMALE
23,Adelie,Biscoe,38.2,18.1,185.0,3950.0,MALE
24,Adelie,Biscoe,38.8,17.2,180.0,3800.0,MALE
25,Adelie,Biscoe,35.3,18.9,187.0,3800.0,FEMALE
26,Adelie,Biscoe,40.6,18.6,183.0,3550.0,MALE
27,Adelie,Biscoe,40.5,17.9,187.0,3200.0,FEMALE
28,Adelie,Biscoe,37.9,18.6,172.0,3150.0,FEMALE
29,Adelie,Biscoe,40.5,18.9,180.0,3950.0,MALE
...,...,...,...,...,...,...,...
314,Gentoo,Biscoe,44.5,14.7,214.0,4850.0,FEMALE
315,Gentoo,Biscoe,50.8,15.7,226.0,5200.0,MALE
316,Gentoo,Biscoe,49.4,15.8,216.0,4925.0,MALE
317,Gentoo,Biscoe,46.9,14.6,222.0,4875.0,FEMALE
318,Gentoo,Biscoe,48.4,14.4,203.0,4625.0,FEMALE
319,Gentoo,Biscoe,51.1,16.5,225.0,5250.0,MALE
320,Gentoo,Biscoe,48.5,15.0,219.0,4850.0,FEMALE
321,Gentoo,Biscoe,55.9,17.0,228.0,5600.0,MALE
322,Gentoo,Biscoe,47.2,15.5,215.0,4975.0,FEMALE
323,Gentoo,Biscoe,49.1,15.0,228.0,5500.0,MALE
324,Gentoo,Biscoe,47.3,13.8,216.0,4725.0,NaN
325,Gentoo,Biscoe,46.8,16.1,215.0,5500.0,MALE
326,Gentoo,Biscoe,41.7,14.7,210.0,4700.0,FEMALE
327,Gentoo,Biscoe,53.4,15.8,219.0,5500.0,MALE
328,Gentoo,Biscoe,43.3,14.0,208.0,4575.0,FEMALE
329,Gentoo,Biscoe,48.1,15.1,209.0,5500.0,MALE
330,Gentoo,Biscoe,50.5,15.2,216.0,5000.0,FEMALE
331,Gentoo,Biscoe,49.8,15.9,229.0,5950.0,MALE
332,Gentoo,Biscoe,43.5,15.2,213.0,4650.0,FEMALE
333,Gentoo,Biscoe,51.5,16.3,230.0,5500.0,MALE
334,Gentoo,Biscoe,46.2,14.1,217.0,4375.0,FEMALE
335,Gentoo,Biscoe,55.1,16.0,230.0,5850.0,MALE
336,Gentoo,Biscoe,44.5,15.7,217.0,4875.0,NaN
337,Gentoo,Biscoe,48.8,16.2,222.0,6000.0,MALE
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,FEMALE
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [4]:
df.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
species              344 non-null object
island               344 non-null object
bill_length_mm       342 non-null float64
bill_depth_mm        342 non-null float64
flipper_length_mm    342 non-null float64
body_mass_g          342 non-null float64
sex                  333 non-null object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [6]:
# Есть смысл выкинуть пустые строки, тк их количество ~ 4 % от всего набора данных

In [7]:
df.dropna(inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 333 entries, 0 to 343
Data columns (total 7 columns):
species              333 non-null object
island               333 non-null object
bill_length_mm       333 non-null float64
bill_depth_mm        333 non-null float64
flipper_length_mm    333 non-null float64
body_mass_g          333 non-null float64
sex                  333 non-null object
dtypes: float64(4), object(3)
memory usage: 20.8+ KB

In [9]:
# получаем данные без пустых строк, поля со строками разобъем с помощью get_dummies

In [10]:
df = pd.concat([df, pd.get_dummies(df['island'])], axis=1)

In [11]:
df.drop('island', axis=1, inplace=True)

In [12]:
df = pd.concat([df, pd.get_dummies(df['sex'])], axis=1)

In [13]:
df.drop('sex', axis=1, inplace=True)

In [14]:
# Вытащим столбец с классами species

In [15]:
y = df.pop('species')
X = df

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 333 entries, 0 to 343
Data columns (total 9 columns):
bill_length_mm       333 non-null float64
bill_depth_mm        333 non-null float64
flipper_length_mm    333 non-null float64
body_mass_g          333 non-null float64
Biscoe               333 non-null uint8
Dream                333 non-null uint8
Torgersen            333 non-null uint8
FEMALE               333 non-null uint8
MALE                 333 non-null uint8
dtypes: float64(4), uint8(5)
memory usage: 14.6 KB

In [17]:
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.tree import DecisionTreeClassifier

In [18]:
dtc = DecisionTreeClassifier()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

In [19]:
dtc.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [20]:
# посмотрим на значимость параметров в нашем дереве

In [21]:
dtc.feature_importances_

array([0.35909883, 0.        , 0.51984089, 0.00231304, 0.        ,
       0.10254656, 0.        , 0.01620068, 0.        ])

In [22]:
y_pred = dtc.predict(X_test)

In [23]:
print("Количество неверно классифицированных объектов : %d из %d"
    % ((y_test != y_pred).sum(), X_test.shape[0]))

Количество неверно классифицированных объектов : 5 из 110

In [24]:
dtc.score(X_test, y_test)

0.9545454545454546

In [25]:
dtc.score(X_train, y_train)

1.0

In [26]:
np.mean(cross_val_score(dtc, X, y, cv=5))

0.9757081724245904

In [27]:
# будем перебирать кол-во элементов для ветвления и листа, и макс глубину дерева

In [28]:

dtc_params = {'min_samples_split' : [2,3,4,5,10,20],
              'min_samples_leaf' : [1,2,3,4,5,10,20],
              'max_depth' : [None,3,5,10,20]}

In [29]:
dtc_grid = GridSearchCV(dtc, dtc_params, cv=5)

In [30]:
dtc_grid.fit(X, y)

GridSearchCV(cv=5, error_score='raise',
       estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'min_samples_split': [2, 3, 4, 5, 10, 20], 'min_samples_leaf': [1, 2, 3, 4, 5, 10, 20], 'max_depth': [None, 3, 5, 10, 20]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [31]:
print ('Значение гиперпараметра наилучшего классификатора: ', dtc_grid.best_params_,
       "\nКоличество неверно классифицированных объектов : %d из %d" % ((y != dtc_grid.best_estimator_.predict(X)).sum(), X.shape[0]),
       '\nАккуратность классификатора: ', dtc_grid.best_score_)

Значение гиперпараметра наилучшего классификатора:  {'max_depth': 5, 'min_samples_leaf': 1, 'min_samples_split': 2}
Количество неверно классифицированных объектов : 0 из 333
Аккуратность классификатора:  0.984984984984985

In [32]:
# Как мы видим наша модель ни разу не ошибласть и R^2 почти равно единице 0.985